.secrets
.gitignore
.env

target

src/target/
src/**/*.rs.bk
contracts/Cargo.lock


contracts/ownable/target/
contracts/ownable/**/*.rs.bk
contracts/ownable/Cargo.lock

contracts/restrictable/target/
contracts/restrictable/**/*.rs.bk
contracts/restrictable/Cargo.lock

contracts/users/target/
contracts/users/**/*.rs.bk
contracts/users/Cargo.lock

contracts/access/target/
contracts/access/**/*.rs.bk
contracts/access/Cargo.lock

contracts/patient/target/
contracts/patient/**/*.rs.bk
contracts/patient/Cargo.lock

contracts/marketplace/target/
contracts/marketplace/**/*.rs.bk
contracts/marketplace/Cargo.lock